name: Docker

on:
  push:
    branches:
      - master
    paths:
      - '.github/workflows/docker.yml'
      - 'docker/**'
      - 'gradle**'
      - '**.gradle'
      - '**.gradle.kts'
      - 'build-logic/**/Constants.kt'

jobs:
  publish-docker:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v4

      - name: Build docker image and publish
        uses: elgohr/Publish-Docker-Github-Action@v5
        with:
          name: ${{ github.repository }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
          registry: ghcr.io
          workdir: docker
          dockerfile: Dockerfile
          cache: true
          tags: "latest"